body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  font-size: 30px
}

p {
  font-family: 'Reenie Beanie', cursive;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
